<!DOCTYPE html>
<html lang="en"> 
<%- include('../partials/head') %>  
<body>
<div class="container mt-5 col-md-6">
  <h2 class="text-center mb-4">Recuperar Cuenta</h2>
  <form method="POST" action="/recuperar">
    <div class="mb-3">
      <label for="email" class="form-label">Ingrese su correo registrado</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <button type="submit" class="btn btn-warning w-100">Enviar enlace de recuperación</button>
  </form>
</div>
</body>
</html>
